* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-y: scroll;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  text-wrap: pretty;
}

h2 {
  font-size: 35px;
  font-weight: 900;
  text-wrap: pretty;
}

h3 {
  font-size: 30px;
  font-weight: 900;
  text-wrap: pretty;
}

h4 {
  font-size: 25px;
  font-weight: 900;
  text-wrap: pretty;
}

/*== Encabezado ==*/

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  height: 100px;
  background-color: #313131;
  border-bottom: 4px solid #b64444;
}

.navbar .img-logo {
  width: 65px;
  margin-right: 10px;
  filter: invert(1)
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
}

.navbar .collapse ul {
  gap: 13px;
}

.navbar .collapse ul li .normal {
  color: #ffffff;
  font-weight: 400;
  position: relative;
}

.navbar .collapse ul li .especial {
  color: #ffffff;
  font-weight: 400;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

.navbar .collapse ul li .especial-c {
  color: #ffffff;
  font-weight: 400;
  margin-left: 15px;
  padding: 6px 10px;
  background-color: transparent;
  border: 3px solid #b64444;
  border-radius: 25px;
}

.navbar .collapse ul li:nth-child(-n+4) .nav-link:hover {
  color: #aaaaaa;
}

.navbar .collapse ul li:nth-child(-n+4) .nav-link::after {
  content: "";
  height: 4px;
  width: 90%;
  background-color: #b64444;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  bottom: 3px;
  opacity: 0;
  transition: all 0.5s;
}

.navbar .collapse ul li:nth-child(-n+4) .nav-link:hover::after {
  opacity: 1;
}

/*== Carrusel ==*/
.carousel {
  height: calc(100vh - 100px);
}

.carousel .contenedor-carousel {
  height: 100%
}

.carousel .carousel-indicators {
  gap: 40px;
  margin-bottom: 30px;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
}

.carousel .carousel-indicators button:hover {
  background-color: #e4c206;
}

.carousel .carousel-indicators button.active {
  background-color: #e4c206;
}

.carousel .carousel-inner .carousel-item img {
  height: calc(100vh - 100px);
  object-fit: cover;
}

.carousel .carousel-inner .carousel-caption {
  background-color: #000000b4;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 60px 0;
}

.carousel .carousel-inner p {
  margin-bottom: 30px;
  font-weight: 400;
}

/*== Tarjetas mecánicos ==*/

.contenedor-meccanicos {
  position: relative;
}

.contenedor-meccanicos::before {
  content: "";
  display: block;
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
}

.contenedor-meccanicos {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contenedor-meccanicos .boton-agregar {
  margin-left: 0;
  margin-right: 0;
}

.contenedor-meccanicos .boton-agregar a {
  color: #ffffff;
  text-decoration: none;
  background-color: #198754;
  border: 3px solid #313131;
  border-radius: 25px;
  padding: 6px 10px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

.contenedor-meccanicos .row .contenedor-tarjeta {
  padding: 20px;
}

.contenedor-meccanicos .row img {
  height: 500px;
  object-fit: cover;
}

.contenedor-meccanicos .row .card-footer {
  height: 70px;
}

.contenedor-meccanicos .row .card-footer .boton-editar {
  border: 3px solid #0dcaf0;
  border-radius: 25px;
  padding: 6px 10px;
  font-weight: 400;
}

.contenedor-meccanicos .row .card-footer .boton-borrar {
  border: 3px solid #b64444;
  border-radius: 25px;
  padding: 6px 10px;
  font-weight: 400;
}

.contenedor-meccanicos .row .card-footer .boton-mas {
  text-decoration: none;
  border: 3px solid #313131;
  border-radius: 25px;
  padding: 6px 10px;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

.contenedor-meccanicos .row .card-footer .boton-mas:hover {
  transform: scale(1.1);
}

/*== Sección de Servicios ==*/

.contenededor-titulo {
  padding-top: 100px;
}

.contenededor-titulo h1 {
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.seccion-galeria {
  display: flex;
  width: 70%;
  margin-top: 100px;
  padding-bottom: 150px;
}

.seccion-galeria .imagen-galeria {
  width: 0;
  height: 800px;
  flex-grow: 1;
  object-fit: cover;
  filter: brightness(0);
  filter: saturate(0);
  transition: 0.5s ease;
  border-radius: 10px;
  border: 3px solid #aaaaaa;
  transition: all 0.7s ease-in-out;
}

.seccion-galeria .imagen-galeria:hover {
  cursor: pointer;
  filter: brightness(1);
  filter: saturate(1.5);
  width: 1300px;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/*== Formulario de contacto ==*/

.formulario {
  height: calc(100vh - 180px);
}

.formulario .contenedor-formulario {
  width: 900px;
  height: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.formulario .contenedor-formulario .contenedor-titulo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.formulario .contenedor-formulario .contenedor-etiquetas {
  width: 600px;
  margin: auto;
}

.formulario .contenedor-formulario .contenedor-etiquetas .etiqueta {
  margin-bottom: 30px;
}

.formulario .contenedor-formulario .contenedor-etiquetas span {
  font-weight: 400;
}

.formulario .contenedor-formulario .contenedor-etiquetas .f-input {
  width: 70%;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #313131;
}

.formulario .contenedor-formulario .contenedor-etiquetas textarea {
  width: 70%;
  height: 100px;
  border-radius: 25px;
  border: 2px solid #313131;
  padding: 10px;
}

.formulario .contenedor-formulario .contenedor-etiquetas .f-input:focus,
.formulario .contenedor-formulario .contenedor-etiquetas textarea:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.formulario .contenedor-formulario .contenedor-etiquetas .contenedor-terminos {
  margin-top: 100px;
}

.formulario .contenedor-formulario .contenedor-etiquetas .contenedor-terminos .btn-enviar {
  font-weight: 400;
  padding: 5px 10px;
  background-color: transparent;
  border: 3px solid #198754;
  border-radius: 25px;
}


/*== Boton volver arriba ==*/

.boton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b64444;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: fixed;
  font-size: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  bottom: 20px;
}

.boton:hover {
  transform: scale(1.5);
}

/*== Footer ==*/

footer {
  height: 80px;
  background-color: #313131;
  display: flex;
  align-items: center;
  border-top: 4px solid #b64444;
}

footer .container {
  display: flex;
  justify-content: space-between;

}

footer p {
  color: #ffffff;
  margin: 0;
}

@media only screen and (max-width: 1199px) {

  .navbar-collapse {
    width: 100%;
    background-color: #313131;
    border-bottom: 4px solid #b64444;
    position: absolute;
    top: 96px;
    left: 0;
    padding-bottom: 50px;
  }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .navbar .collapse ul li .especial {
    margin-top: 13px;
  }

  .navbar .collapse ul li .especial-c {
    margin-top: 20px;
  }

  .navbar .collapse ul li .especial,
  .navbar .collapse ul li .especial-c {
    margin-left: 0;
  }

  .seccion-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .seccion-galeria .imagen-galeria {
    width: 90%;
    height: 400px;
    margin-bottom: 50px;
    filter: brightness(1);
    filter: saturate(1.5);
    border-radius: 25px;
    border: 3px solid #ffffff;
  }

  .seccion-galeria .imagen-galeria:hover {
    cursor: default;
    filter: none;
    width: 90%;
    border-radius: 25px;
    border: 3px solid #ffffff;
  }

  /*== Footer ==*/

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}