@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,900;1,400;1,900&family=Poly:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;900&display=swap');

.fondo_servicio {
    background: linear-gradient(to bottom right, #3a83f0, #ff1a1a) !important;
}

.tag-div {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 900;
    text-align: center;
    color: #fff;
}

.tag-seccion {
    margin-bottom: 8%;
}

section {
    display: flex;
    width: 1200px;
}


section img {
    width: 0px;
    height: 400px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(0.3);
    filter: saturate(30%);
    transition: 0.5s ease;
    border-radius: 10px;
    border: 2px solid #fff;

}

section img:hover {
    cursor: pointer;
    filter: brightness(1);
    width: 600px;
    border-radius: 10px;
    border: 2px solid #fff;
}