@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,900;1,400;1,900&family=Poly:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;900&display=swap');

/****************ESTILO MECANICO *********************/

.fondo_mecanico {
    background-image: linear-gradient(to bottom right, #3a83f0, #ff1a1a) !important;
}

.todo-text {
    margin-top: 5%;
    color: rgb(0, 0, 0);
}

.titulo h1 {
    font-weight: 700;
    text-align: center;
}

.card-body hr {
    width: 450px;
    height: 3px;
    margin: auto;
    border: none;
    border-radius: 2px;
    background-color: #ff1a1a;
    opacity: 100%;
}

.titulo h3 {
    font-weight: 400;
    text-align: center;
    margin-top: 3px;
}


.datos {
    margin-top: 8%;
}

.datos h4 {
    font-weight: 500;
    margin-top: 3px;
    margin-left: 10%;
    margin-right: 10%;
}

.datos p {
    font-weight: 300;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 12%;
    margin-right: 10%;
    text-align: justify;
}

.resumen h4 {
    font-weight: 500;
    margin-top: 3px;
    margin-left: 10%;
    margin-right: 10%;
}

.resumen p {
    font-weight: 300;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 12%;
    margin-right: 10%;
    text-align: justify;
}

.resumen li {
    font-weight: 300;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 12%;
    margin-right: 10%;
    text-align: justify;
}

.separacion {
    margin-bottom: 15%;
}