{% extends 'base.html' %} <!-- Secargar el archivo base.html -->
{% load static %} <!-- Se cargan los archivos estaticos css, js -->
{% block titulo %} Agregar mecánico {% endblock %}
{% block contenido %}

<div class="container contenedor-agregar">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3 agregar-etiqueta">
      <label for="" class="form-label">{{ campo.label }}:</label>
      <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id=""
        aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}">
      {% if campo.field.widget.input_type == 'file' and campo.value %}
      <div class="d-flex justify-content-center">
        <img src="{{MEDIA_URL}}/imagenes/{{ campo.value }}" alt="" srcset="">
      </div>
      {% endif %}
    </div>
    <div class="col-6 help-text">
      {{ campo.errors }}
    </div>
    {% endfor %}
    <div class="contenedor-botones">
      <input class="btn boton-enviar-info" type="submit" value="Enviar Información">
      <a href="{% url 'inicio' %}" class="btn boton-cancelar">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}